<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method="post" action = "/user">
    <label>User Name</label>
    <input type = "text" name="username">
    <br>
    <br>
    <label>Email</label>
    <input type = "email" name="email">
    <br>
    <br>
    <label>Password</label>
    <input type = "password" name="password">
    <br>
    <br>
    <label>Re-Enter Password</label>
    <input type = "password" name="redopassword">
    <br>
    <br>
    <input type = "submit">
    <br>
</form>
</body>
</html>